.action-button {
  border-radius: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 900px) {
  .action-button {
    font-size: 0.6rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.button-outline{
  border: 1px solid purple;
  color: white;
}
.button{
  color: white;
  background-color:purple;
}
