.like-icon{
    color:white
  }
  .like-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
  }
  
  .like-button:hover {
    transform: scale(1.1);
  }
  
  .like-button.liked {
    color: red;
  }
  